body{
    overflow: hidden;
}

#center{
    background-color: var(--dark);
    width: 1px;
    height: 100vh;
    float: left;
}

.get {
    color: lawngreen;
}

.post {
    color: orange;
}

.delete {
    color: red;
}

.put {
    color: lightskyblue;
}

.mono{
    font-family: monospace;
    font-size: 16px;
}

#left {
    float: left;
    min-width: 400px;
    max-width: 600px;
    height: calc(100vh - 75px);
    overflow-y: auto;
}

#left .item{
    padding: 7px;
    cursor: pointer;
}

#left .item:hover{
    background-color: var(--dark);
    color: var(--light);
}

#left .mt{
    display: inline-block;
    width: 80px;
    text-transform: uppercase;
}

#right{
    float: left;
    margin-left: 40px;
}

#right .item{
    display: none;
}

#right .mt{
    text-transform: uppercase;
    margin-right: 20px;
}

#right .arg-type, #right .arg-req{
    color:gray;
}

#right .arg{
    border: 2px solid var(--dark);
    padding: 15px 10px 0 5px;
    margin-bottom: 5px;
}